VITE_CLOUD_BACKEND=turso
VITE_SCHEDULER_CAMPAIGN_ID=autumn-in-the-city
VITE_SCHEDULER_CAMPAIGN_NAME=Autumn in the City
TURSO_DATABASE_URL=libsql://YOUR_DATABASE.turso.io
TURSO_AUTH_TOKEN=YOUR_TURSO_AUTH_TOKEN
MORDHEIM_AUTH_SECRET=change-this-long-random-secret
